.carousel {
  width: 600px;
  height: 400px;
  position: relative;
}

.carousel__slide {
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carousel__btn {
  border: none;
  background: none;
  font-size: 5rem;
  color: #fff;

  position: absolute;
  top: 0;
  bottom: 0;

  &.carousel__btn--right {
    right: 25px;
  }

  &.carousel__btn--left {
    left: 25px;
  }
}

.carousel__nav {
  position: absolute;
  bottom: 10px;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 16px;
}

.carousel__nav__btn {
  background-color: #fff;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  border: none;

  &.carousel__nav__btn--active {
    opacity: 1;
  }
}

.carousel__btn,
.carousel__nav__btn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity, 0.25s;

  &:hover {
    opacity: 1;
  }
}
